<h1>Auctions</h1>

<%= form_tag(auctions_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Auctions" %>
    <!-- In order to have the "search" icon int the button, we need to use plain HTML instead
         of using a Rails form helper -->
    <button type="submit">Search</button> <%= link_to 'Clear search', auctions_path %>
    </div>
<% end %>

<table border="1">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Brand</th>
    <th>Enddate</th>
  </tr>

  <% @auctions.each do |a| %>
      <tr>
        <td><% if a.bike.pictures.count > 0 %>
              <%= render :partial => "pictures/picture_index", :locals => {:picture => a.bike.pictures[0]} %>
            <% end %>
        </td>
        <td><%= a.bike.name %></td>
        <td><%= a.bike.brand %></td>
        <td><%= a.endtime %></td>
        <td><%= link_to 'Show', auction_path(a) %></td>
      </tr>
  <% end %>
</table>