<h1>AUCTION</h1>

<h2>Current price: <%= @auction.current_amount %></h2>

<p>
  <strong>Endtime:</strong>
  <%= @auction.endtime %>
</p>

<h2>Bike Infos</h2>
<%= render @bike %>

<h2>Bids</h2>

<%= render 'bid/form' %>



<% @auction.bids.each do |bid| %>
    <%= render :partial => "bid/bid", :locals => {:bid => bid} %>
<% end %>

<%= link_to 'Edit', edit_bike_auction_path(@auction.bike, @auction) %> |
<%= link_to 'Back', auctions_path %>
