<div class="container mainpage-content">
  <h1>Welcome<small class="small-title">E-Bike Auction Platform </small></h1>

<ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
  <%= link_to 'Home', root_path %> <%= link_to 'Auctions', auctions_path %> <%= link_to 'My bikes', mybikes_path %> <%= link_to 'All bikes', bikes_path %>
</ul>
</div>