<p>
  <strong>Name:</strong>
  <%= @bike.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @bike.brand %>
</p>

<p>
  <strong>Color:</strong>
  <%= @bike.color %>
</p>

<p>
  <strong>Weight (kg):</strong>
  <%= @bike.weight %>
</p>

<p>
  <strong>Battery type:</strong>
  <%= @bike.batterytype %>
</p>

<p>
  <strong>kWh:</strong>
  <%= @bike.kwh %>
</p>

<p>
  <strong>Max speed (km/h):</strong>
  <%= @bike.maxspeed %>
</p>

<p>
  <strong>Charging time (hours):</strong>
  <%= @bike.chargingtime %>
</p>

<%= render @bike.pictures %>

<% if is_own_bike(@bike) %>

    <h2>Add Picture</h2>
    <%= render 'pictures/form' %>

<% end %>