<%= form_for @bike do |f| %>
    <% if @bike.errors.any? %>
        <div class="alert alert-danger">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <h3><%= pluralize(@bike.errors.count, "error") %> prohibited this bike from being saved:</h3>
          <ul>
            <% @bike.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :brand %><br>
      <%= f.text_field :brand %>
    </p>

    <% c = [
            ['Blue'],
            ['Green'],
            ['Yellow'],
            ['Red'],
            ['Orange'],
            ['White'],
            ['Black'],
            ['Grey'],
            ['Violet'],
            ['Brown']
    ]
    %>
    <p>
      <%= f.label :color %><br>
      <%= f.select(:color, c) %>
    </p>

    <p>
      <%= f.label 'Weight (kg)' %><br>
      <%= f.number_field(:weight, step: 0.01) %>
    </p>

    <% o = [
                    ['Lead Acid'],
                    ['Nickel Cadmium (NiCa)'],
                    ['Nickel Metal Hydride (NiMH)'],
                    ['Lithium Polymer'],
                    ['Lithium Manganese'],
                    ['Lithium Iron Phosphate (LiFePO4)']
            ]
    %>
    <p>
      <%= f.label :batterytype %><br>
      <%= f.select(:batterytype, o) %>
    </p>

    <p>
      <%= f.label :kwh %><br>
      <%= f.number_field(:kwh, in:1..100, step: 0.1) %>

    <p>
      <%= f.label 'Max speed (km/h)' %><br>
      <%= f.number_field(:maxspeed, step: 0.1) %>
    </p>

    <p>
      <%= f.label 'Charging time (hours)' %><br>
      <%= f.number_field(:chargingtime, step: 1) %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>