<h1>Listing Bikes</h1>

<%= link_to 'New bike', new_bike_path %>


<%= form_tag(bikes_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Bikes" %>
      <!-- In order to have the "search" icon int the button, we need to use plain HTML instead
           of using a Rails form helper -->
      <button type="submit">Search</button> <%= link_to 'Clear search', bikes_path %>
    </div>
<% end %>


<table>
  <tr>
    <th>Name</th>
    <th>Brand</th>
  </tr>

  <% @bikes.each do |bike| %>
      <tr>
        <td><%= bike.name %></td>
        <td><%= bike.brand %></td>
        <td><%= link_to 'Show', bike_path(bike) %></td>
        <td><%= link_to 'Edit', edit_bike_path(bike) %></td>
        <td><%= link_to 'Destroy', bike_path(bike),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

