<!DOCTYPE html>
<html>
<head>
  <title>E-Bike Auctions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Home', root_path %> <%= link_to 'Auctions', auctions_path %> <%= link_to 'My bikes', mybikes_path %> <%= link_to 'All bikes', bikes_path %>

<% if user_signed_in? %>
    <%= link_to 'Account', edit_user_registration_path %>
<% else %>
    <%= link_to 'Login', new_user_session_path %>
    <%= link_to 'Register', new_user_registration_path %>
<% end %>

<p class="notice"><%= notice ? notice : flash[:notice] %></p>
<p class="alert"><%= alert ? alert : flash[:error] %></p>

<div>
  <% if current_user %>
	Signed in as <strong><%= current_user.name %></strong>!
	<%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
	<%= link_to "Sign in with Twitter", "/auth/twitter", id: "sign_in" %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
