<!DOCTYPE html>
<html>
<head>
  <title>E-Bike Auctions</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation' %>

<% if user_signed_in? %>
    <%= link_to 'Account', edit_user_registration_path %>
<% else %>
    <%= link_to 'Login', new_user_session_path %>
    <%= link_to 'Register', new_user_registration_path %>
<% end %>

<p class="notice"><%= notice ? notice : flash[:notice] %></p>
<p class="alert"><%= alert ? alert : flash[:error] %></p>
<%= yield %>

</body>
</html>
